@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

// Apply the font-family to the body
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}
/* Hero section styles */
.hero {
    position: relative;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: start;
    padding-left: 100px;
    align-items: center;
    text-align: left;
    padding-top: 80px; /* To make space for the fixed navbar */
    overflow: hidden;
  }
  .hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the entire section */
    z-index: -1; /* Places the video behind the content */
  }
  .hero-content {
    position: relative;
    width: 50%;
    z-index: 1; /* Ensures the content appears above the video */
  }
  .hero .container {
    max-width: 600px;
  }
  
  .hero h1 {
    font-size: 3rem;
    font-weight: 300;
  }
  
  .hero p.lead {
    font-size: 1.25rem;
    margin-bottom: 20px;
  }
  
  .hero .btn {
    font-size: 1.25rem;
    padding: 10px 30px;
    background-color: #ff00ff; /* Update to your preferred button color */
    border: none;
    border-radius: 50px;
  }
  
  .hero .btn:hover {
    background-color: #d400d4; /* Update hover color */
  }
  
  
  /* Course Categories */
  .container .row .col-md-3 {
    margin-bottom: 20px;
  }
  
  .container .row .col-md-3 img {
    border-radius: 50%;
    width: 150px; /* Adjust as needed */
    height: 150px; /* Adjust as needed */
    object-fit: cover;
    margin-bottom: 15px;
  }
  
  .container .row .col-md-3 h4 {
    font-weight: normal;
    margin-top: 10px;
  }
  
  /* Welcome Section */
  .container.text-center.my-5 h2 {
    font-size: 2.5rem;
    font-weight: normal;
  }
  
  .container.text-center.my-5 p {
    font-size: 1.2rem;
    margin-top: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Community Section */
  .community-section {
    background-color: #f8f9fa;
    padding: 50px 0;
  }
  
  .community-section .container .row .col-md-4 img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 15px;
  }
  
  .community-section .container .row .col-md-4 p {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 10px;
  }
  
  .community-section .container .row .col-md-4 strong {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 5px;
  }
  
  .about-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the entire section */
    z-index: -1; /* Places the video behind the content */
  }
  
  /* Welcome Section */
  .container-fluid.text-center.my-5 {
    position: relative;
    padding: 50px 0;
  }
  
  .container-fluid.text-center.my-5 .hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .container-fluid.text-center.my-5 .container {
    position: relative;
    z-index: 1;
  }
  
  .container-fluid.text-center.my-5 h2 {
    font-size: 2.5rem;
    font-weight: normal;
  }
  
  .container-fluid.text-center.my-5 p {
    font-size: 1.2rem;
    margin-top: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  

  @mixin transform($deg) {
    -webkit-transform: rotateY($deg) translateZ(288px);
       -moz-transform: rotateY($deg) translateZ(288px);
        -ms-transform: rotateY($deg) translateZ(288px);
         -o-transform: rotateY($deg) translateZ(288px);
            transform: rotateY($deg) translateZ(288px);
  }
  
  @mixin transform-origin() {
    -webkit-transform-origin: 60% 50%;
       -moz-transform-origin: 60% 50%;
         -o-transform-origin: 60% 50%;
        -ms-transform-origin: 60% 50%;
            transform-origin: 60% 50%;
  }
  
  @mixin transform_($deg) {
    -webkit-transform: rotateY($deg);
       -moz-transform: rotateY($deg);
         -o-transform: rotateY($deg);
        -ms-transform: rotateY($deg);
            transform: rotateY($deg);
  }
  
  @mixin rotating(){
    from {
      @include transform-origin;
      @include transform_(0deg);
    }
  
    to {
      @include transform-origin;
      @include transform_(-360deg);
    }
  }
  
  .carousel-container {
    width: 210px;
    height: 400px;
    transform: translate(-27%,50%);
    -webkit-perspective: 1100px;
    -moz-perspective: 1100px;
    -ms-perspective: 1100px;
    perspective: 1100px;
  }
  
  #carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    -ms-transition: -ms-transform 1s;
    transition: transform 1s;
    -webkit-animation: rotating 20s linear infinite;
    -moz-animation: rotating 20s linear infinite;
    -o-animation: rotating 20s linear infinite;
    -ms-animation: rotating 20s linear infinite;
    animation: rotating 20s linear infinite;
    
    div {
      display: block;
      position: absolute;
      width: 180px;
      height: 120px;
      border: 2px solid #000;
      img {
        width:100%;
        height:100%;
        object-fit: cover;
      }
      &:nth-child(1) {
        @include transform(0deg);
      }
      &:nth-child(2) {
        @include transform(40deg);
      }
      &:nth-child(3) {
        @include transform(80deg);
      }
      &:nth-child(4) {
        @include transform(120deg);
      }
      &:nth-child(5) {
        @include transform(160deg);
      }
      &:nth-child(6) {
        @include transform(200deg);
      }
      &:nth-child(7) {
        @include transform(240deg);
      }
      &:nth-child(8) {
        @include transform(280deg);
      }
      &:nth-child(9) {
        @include transform(320deg);
      }
    }
  }
  
  @-moz-keyframes rotating {
    @include rotating;
  }
  
  @-webkit-keyframes rotating {
    @include rotating;
  }
  
  @-o-keyframes rotating {
    @include rotating;
  }
  
  @keyframes rotating {
    @include rotating;
  }