
.carousel {
    width: 100%;
    overflow: hidden;
  }
  
  .wrapper {
    display: flex;
    animation: roll 10s linear infinite;
  }
  
  @keyframes roll {
    to {
      transform: translate(calc(-4 * 15rem));
    }
  }