/* Navbar styles */
.navbar {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 0;
  }
  .navbar .nav-link {
    color: white;
    font-weight: 300;
  }
  .navbar .navbar-brand img {
    max-height: 40px;
  }
  .navbar .nav-item .nav-link {
    font-size: 16px;
  }
  .navbar .nav-item .nav-link:hover {
    color: #ddd;
  }
  /* Optional: Fine-tune the search icon position for various screen sizes */
  .navbar .form-control {
    padding-right: 40px; /* Space for the icon inside the input */
  }
  .navbar .bi-search {
    font-size: 1.2rem; /* Adjust the size of the search icon */
  }
  /* Custom CSS for large dropdown menu */
.dropdown-menu {
  min-width: 600px;
}

.dropdown-item {
  padding: 0.5rem 1rem;
}

.dropdown-header {
  font-weight: 400;
}
/* Show dropdown menu on hover */
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
/* Ensure the dropdown menu appears smoothly */
.dropdown-menu {
  display: none; /* Hide by default */
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
  margin-top: 0;
}

